.topbar {
  width: 100%;
  height: 180px;
  background-color: #272727;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topbar p {
  color: white;
  font-size: 40px;
}
.content {
  margin-top: 45px;
  display: flex;
  justify-content: center;
}
.content p {
  padding-top: 20px;
  font-size: 30px;
  //   font-weight: lighter;
}
.logout {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logout a {
  font-size: 25px;
}
.line {
  margin-top: 50px;
  border-top: 1px solid grey;
}
.membername {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.membername p {
  font-size: 30px;
}
.inputName {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.inputName input {
  margin-right: 10px;
}
.nameresult {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.name {
  font-size: 15px;
}
.end {
  height: 10px;
}
