<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="StaticFiles/failpagestylereset.css" />
    <link rel="stylesheet" href="StaticFiles/failpagestyle.css" />
    <title>{{fail_title}}</title>
  </head>
  <body>
    <div class="topbar">
      <p>{{fail}}</p>
    </div>
    <div class="content">
      <p class="error-message">{{error_message}}</p>
    </div>
    <!-- <script src="/StaticFiles/failscript.js"></script> -->
  </body>
</html>
