<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="StaticFiles/memberstylereset.css" />
    <link rel="stylesheet" href="StaticFiles/memberstyle.css" />
    <title>{{member_title}}</title>
  </head>
  <body>
    <div class="topbar">
      <p>{{member_h1}}</p>
    </div>
    <div class="content">
      <p>{{successful_message}}</p>
    </div>
    <div class="logout">
      <a href="/logout">{{logout_a}}</a>
    </div>
    <div class="line"></div>
    <form class="message" action="/createMessage" method="post" id="message">
      <div class="messageboard">
        <p>{{messageboard}}</p>
      </div>
      <div class="messageinput">
        {{massageinput}} <input type="text" name="message" id="messageinput" />
      </div>
      <div class="messagebutton">
        <button id="buttonmessage" type="submit">{{messagebtn}}</button>
      </div>
    </form>
    <div class="line"></div>
    <div class="board">
      {% for i in show_message %}
      <p>{{i[2]}} ： {{i[3]}}</p>
      {% if i[1] == user_id %}
      <button class="buttondelete" data-id="{{i[0]}}" type="button">
        {{buttondelete}}
      </button>
      {% endif %} {% endfor %}
    </div>
    <script src="/StaticFiles/memberscript.js"></script>
  </body>
</html>
