<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="StaticFiles/memberstylereset.css" />
    <link rel="stylesheet" href="StaticFiles/memberstyle.css" />
    <title>{{member_title}}</title>
  </head>
  <body>
    <div class="topbar">
      <p>{{member_h1}}</p>
    </div>
    <div class="content">
      <p>{{successful_message}}</p>
    </div>
    <div class="logout">
      <a href="/logout">{{logout_a}}</a>
    </div>
    <div class="line"></div>
    <form class="message" action="/createMessage" method="post">
      <div class="messageboard">
        <p>{{messageboard}}</p>
      </div>
      <div class="messageinput">
        {{massageinput}} <input type="text" name="message" />
      </div>
      <div class="messagebutton">
        <button id="buttonmessage">{{messagebtn}}</button>
      </div>
    </form>
    <div class="line"></div>
    <div class="board">
      {% for i in show_message %}
      <p>{{i[0]}} ： {{i[1]}}</p>
      {% endfor %}
    </div>
  </body>
</html>
