<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/StaticFiles/hotelpagereset.css" />
    <link rel="stylesheet" href="/StaticFiles/hotelpagestyle.css" />
    <title>{{hotel_title}}</title>
  </head>
  <body>
    <div class="topbar">
      <p>{{hotel_h1}}</p>
    </div>
    <div class="content">
      <p class="hotelinfor">{{hotelinfor}}</p>
    </div>
    <div class="logout">
      <a href="/">{{back_home}}</a>
    </div>
    <script src="/StaticFiles/hotelpagescript.js"></script>
  </body>
</html>
