<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="StaticFiles/memberstylereset.css" />
    <link rel="stylesheet" href="StaticFiles/memberstyle.css" />
    <title>{{member_title}}</title>
  </head>
  <body>
    <div class="topbar">
      <p>{{member_h1}}</p>
    </div>
    <div class="content">
      <p id="newNameTitle">{{successful_message}}</p>
    </div>
    <div class="logout">
      <a href="/logout">{{logout_a}}</a>
    </div>
    <div class="line"></div>
    <div class="membername">
      <p>{{nameContent}}</p>
    </div>
    <div class="searchName"></div>
    <div class="inputName">
      <input type="text" id="nameID" /><button type="button" id="searchBTN">
        {{search}}
      </button>
    </div>
    <div class="nameresult">
      <p class="name" id="name"></p>
    </div>
    <div class="nameUpdate">
      <p>{{new_name}}</p>
    </div>
    <div class="inputnewName">
      <input type="text" id="newNameID" /><button type="button" id="updateBTN">
        {{update}}
      </button>
    </div>
    <div class="showState">
      <p id="state"></p>
    </div>
    <div class="searchHistory">
      <p>{{who}}</p>
    </div>
    <div class="buttonContain">
      <button type="button" class="searchButton">{{refresh}}</button>
    </div>
    <div class="answer">
      <p id="searchResult"></p>
    </div>
    <footer class="end"></footer>
    <script src="/StaticFiles/memberscript.js"></script>
  </body>
</html>
