.topbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right p {
  font-size: 30px;
  font-weight: 700;
}

.left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left button {
  width: 100px;
  height: 50px;
}

.stateP {
  margin-left: 30px;
}

.content__div--outside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content__div--inside {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btnD {
  padding: 15px;
  position: relative;
}

.content__p--inside {
  width: 50%;
  border: solid 1px black;
  padding: 15px;
  line-height: 35px;
}

.content__p--left {
  width: 50%;
  border: black solid 1px;
  padding: 10px;
  line-height: 35px;
  margin-right: 1px;
}

.content__p--right {
  width: 50%;
  border: black solid 1px;
  padding: 10px;
  line-height: 35px;
  margin-left: 1px;
}

.btn1,
.btn2 {
  width: 60px;
  height: 30px;
  margin-left: 10px;
  position: absolute;
}

.btn1 {
  top: 60%;
}

.btn2 {
  top: 30%;
}
