.content__div--outside {
  display: none;
}

.content__div--inside {
  display: flex;
}
.content__p--inside {
  width: 50%;
  border: solid 1px black;
  padding: 15px;
  line-height: 35px;
}

.content__p--left {
  width: 50%;
  border: black solid 1px;
  padding: 10px;
  line-height: 35px;
  margin-right: 1px;
}

.content__p--right {
  width: 50%;
  border: black solid 1px;
  padding: 10px;
  line-height: 35px;
  margin-left: 1px;
}
